<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>City</span>
        </h4>
    </div>
    <div class="modal-body">
        <form  name="cityForm" role="form" ng-submit="ok()" novalidate>
            <div class="row" ng-show="error" id="error">
                <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                    {{err}}
                </div>
            </div>
            <div class="page-spinner-bar" ng-show="saving">
                <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
            </div>    
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div ng-if="isEditable">
                            <div class="margin-10">
                                <button ngf-select ng-model="picFile" accept="image/*" class="btn btn-info"> Select Picture </button>
                                <button type="button" ng-if="uploadImg" class="btn btn-success" ng-click="upload(croppedDataUrl, 'city')">Save Picture</button>
                            </div>
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                <ui-cropper image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton()"></ui-cropper>
                            </div>
                        </div>
                        <div ng-if="!isEditable">
                            <img ng-src="{{city.image}}" ng-if="city.image" style="width: 300px;">
                        </div>
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <label>Show on Home Page</label> 
                <md-checkbox ng-model="city.show_in_home_page" ng-disabled="!isEditable" ng-true-value = 1 ng-false-value = 0>  </md-checkbox>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Country<span class="required"> * </span></label>
                        <select chosen="" class="form-control" data-placeholder="Choose Country" id="country" name="country" ng-model="city.country_id" required ng-options="country.id as country.name.en for country in countriesList" options="countriesList">
                        </select>
                        <label class="help-block required" for="country" ng-show="cityForm.country.$invalid 
                        && formInvalid">Country is Required</label>
                    </div>
                </div>
            </div>

            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="English">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nameEN">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameEN" ng-model="city.name.en" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameEN" ng-show="cityForm.nameEN.$invalid 
                                && formInvalid">Name is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="French">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nameFR">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameFR" ng-model="city.name.fr" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameFR" ng-show="cityForm.nameFR.$invalid 
                                && formInvalid">Name is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Spanich">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nameSP">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameSP" ng-model="city.name.sp" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameSP" ng-show="cityForm.nameSP.$invalid 
                                && formInvalid">Name is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="modal-footer">
                <button id="add-app" type="submit" class="btn btn-complete  btn-cons" ng-click="ok()" ng-disabled="saving || !isEditable"> Save</button>
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>