<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>FAQ</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="faqForm" role="form" ng-submit="ok()" novalidate>
            <div class="row" ng-show="error" id="error">
                <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                    {{err}}
                </div>
            </div>
            <div class="page-spinner-bar" ng-show="saving || dataLoading">
                <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
            </div> 
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="English">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="questionEn">Question<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="questionEn" ng-model="faq.question.en" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="questionEn" ng-show="faqForm.questionEn.$invalid 
                                && formInvalid">Question is Required</label>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="answerEn">Answer<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" name="answerEn" ng-model="faq.answer.en" ng-disabled="!isEditable" required=""></textarea>
                                <label class="help-block required" for="answerEn" ng-show="faqForm.answerEn.$invalid 
                                && formInvalid">Answer is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="French">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="questionFR">Question<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="questionFR" ng-model="faq.question.fr" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="questionFR" ng-show="faqForm.questionFR.$invalid 
                                && formInvalid">Question is Required</label>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="answerFR">Answer<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" name="answerFR" ng-model="faq.answer.fr" ng-disabled="!isEditable" required=""></textarea>
                                <label class="help-block required" for="answerFR" ng-show="faqForm.answerFR.$invalid 
                                && formInvalid">Answer is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Spanich">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="questionSP">Question<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="questionSP" ng-model="faq.question.sp" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="questionSP" ng-show="faqForm.questionSP.$invalid 
                                && formInvalid">Question is Required</label>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="answerSP">Answer<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" name="answerSP" ng-model="faq.answer.sp" ng-disabled="!isEditable" required=""></textarea>
                                <label class="help-block required" for="answerSP" ng-show="faqForm.answerSP.$invalid 
                                && formInvalid">Answer is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="modal-footer">
                <button id="add-app" type="submit" class="btn btn-complete  btn-cons" ng-click="ok()" ng-disabled="saving || !isEditable"> Save</button>
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>