<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>Hotel</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="hotelForm" role="form" ng-submit="ok()" novalidate>
            <div class="row" ng-show="error" id="error">
                <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                    {{err}}
                </div>
            </div>
            <div class="page-spinner-bar" ng-show="saving || dataLoading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="row" ng-hide="editRooms">
                <div class="col-md-12">
                    <div class="form-group">
                        <div ng-if="isEditable">
                            <div class="margin-10">
                                <button ngf-select ng-model="picFile" accept="image/*" class="btn btn-info"> Select Picture </button>
                                <button type="button" ng-if="uploadImg" class="btn btn-success" ng-click="upload(croppedDataUrl, 'hotel')">Save Picture</button>
                            </div>
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                <ui-cropper image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl = ''" area-type="rectangle"
                                    result-image-size="'max'" on-change="resetSaveButton()"></ui-cropper>
                            </div>
                        </div>
                        <div ng-if="!isEditable">
                            <img ng-src="{{hotel.image}}" ng-if="hotel.image" style="width: 300px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="editRooms">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="stars">Stars
                            <span class="required"> * </span>
                        </label>
                        <input type="number" class="form-control" name="stars" ng-model="hotel.stars" required="" ng-disabled="!isEditable" min="0">
                        <label class="help-block required" for="stars" ng-show="hotelForm.stars.$invalid 
                        && formInvalid">Stars is Required</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="label-title" for="room">Room Type
                            <span class="required"> * </span>
                        </label>
                        <button type="button" class="btn btn-info btn-xs" ng-click="addNewChoice()" ng-hide="!isEditable">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <fieldset data-ng-repeat="field in hotel.rooms track by $index">
                            <div class="row">
                                <div class="col-xs-10" style="margin-top: 1em;">
                                    <input type="text" id="room" name="room" ng-model="hotel.rooms[$index]" placeholder="At least 2 digits" uib-typeahead="room as room.type.en for room in searchRooms($viewValue)"
                                        typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control input-sm async"
                                        typeahead-min-length="2" typeahead-wait-ms="500" typeahead-on-select="select($item, $model, $label, $event)"
                                        required="" autocomplete="off" ng-disabled="!isEditable">
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        <a ng-click="openRoomModal()" class="btn-sm sbold green"> New Room Type
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                    <label class="help-block required" for="room" ng-show="!hotel.rooms[$index].id
                                    && formInvalid">Room is Required</label>
                                </div>
                                <div class="col-xs-2" style="margin-top: 1.5em;">
                                    <button type="button" class="btn btn-info btn-xs" ng-click="removeChoice($index)" ng-hide="!isEditable">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <uib-tabset active="activeJustified" justified="true" ng-hide="editRooms">
                <uib-tab index="0" heading="English">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameEN">Name
                                    <span class="required"> * </span>
                                </label>
                                <input type="text" class="form-control" name="nameEN" ng-model="hotel.name.en" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameEN" ng-show="hotelForm.nameEN.$invalid 
                                && formInvalid">Name is Required</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rate_word">Rating Word
                                    <span class="required"> * </span>
                                </label>
                                <input type="text" class="form-control" name="rate_word" ng-model="hotel.rate_word.en" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="rate_word" ng-show="hotelForm.rate_word.$invalid 
                                && formInvalid">Rate Word is Required</label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="French">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameFR">Name
                                    <span class="required"> * </span>
                                </label>
                                <input type="text" class="form-control" name="nameFR" ng-model="hotel.name.fr" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameFR" ng-show="hotelForm.nameFR.$invalid 
                                && formInvalid">Name is Required</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rate_wordFR">Rating Word
                                    <span class="required"> * </span>
                                </label>
                                <input type="text" class="form-control" name="rate_wordFR" ng-model="hotel.rate_word.fr" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="rate_wordFR" ng-show="hotelForm.rate_wordFR.$invalid 
                                && formInvalid">Rate Word is Required</label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Spanich">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameSP">Name
                                    <span class="required"> * </span>
                                </label>
                                <input type="text" class="form-control" name="nameSP" ng-model="hotel.name.sp" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameSP" ng-show="hotelForm.nameSP.$invalid 
                                && formInvalid">Name is Required</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rate_wordSP">Rating Word
                                    <span class="required"> * </span>
                                </label>
                                <input type="text" class="form-control" name="rate_wordSP" ng-model="hotel.rate_word.sp" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="rate_wordSP" ng-show="hotelForm.rate_wordSP.$invalid 
                                && formInvalid">Rate Word is Required</label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="modal-footer">
                <button id="add-app" type="submit" class="btn btn-complete  btn-cons" ng-click="ok()" ng-disabled="saving || !isEditable">
                Save</button>
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>