<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>Partner</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="partnerForm" role="form" ng-submit="ok()" novalidate>
            <div class="row" ng-show="error" id="error">
                <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                    {{err}}
                </div>
            </div>
            <div class="page-spinner-bar" ng-show="saving || dataLoading">
                <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
            </div>    
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div ng-if="isEditable">
                            <div class="margin-10">
                                <button ngf-select ng-model="picFile" accept="image/*" class="btn btn-info"> Select Picture </button>
                                <button type="button" ng-if="uploadImg" class="btn btn-success" ng-click="upload(croppedDataUrl, 'partner')">Save Picture</button>
                            </div>
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                <ui-cropper image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton()"></ui-cropper>
                            </div>
                        </div>
                        <div ng-if="!isEditable">
                            <img ng-src="{{partner.image}}" ng-if="partner.image" style="width: 300px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Hide</label> 
                <md-checkbox ng-model="partner.hide" ng-disabled="!isEditable" ng-true-value = 1 ng-false-value = 0>  </md-checkbox>
            </div>  
            <div class="modal-footer">
                <button id="add-app" type="submit" class="btn btn-complete  btn-cons" ng-click="ok()" ng-disabled="saving || !isEditable"> Save</button>
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>