<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>Slider</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="sliderForm" role="form" ng-submit="ok()" novalidate>
            <div class="row" ng-show="error" id="error">
                <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                    {{err}}
                </div>
            </div>
            <div class="page-spinner-bar" ng-show="saving || dataLoading">
                <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
            </div>    
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div ng-if="isEditable">
                            <div class="margin-10">
                                <button ngf-select ng-model="picFile" accept="image/*" class="btn btn-info"> Select Picture </button>
                                <button type="button" ng-if="uploadImg"  class="btn btn-success" ng-click="upload(croppedDataUrl, 'slider')">Save Picture</button>
                            </div>
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                <ui-cropper image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton()"></ui-cropper>
                            </div>
                        </div>
                        <div ng-if="!isEditable">
                            <img ng-src="{{slider.image}}" ng-if="slider.image" style="width: 300px;">
                        </div>
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <label>Hide</label> 
                <md-checkbox ng-model="slider.hide" ng-disabled="!isEditable" ng-true-value = 1 ng-false-value = 0>  </md-checkbox>
            </div>
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="English">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="notesEN">Trip Notes<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" ng-model="slider.trip_notes.en" ng-disabled="!isEditable" required="" name="notesEN"></textarea>
                                <label class="help-block required" for="notesEN" ng-show="sliderForm.notesEN.$invalid 
                                && formInvalid">Notes is Required</label>
                            </div> 
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descriptionEN">Description<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" ng-model="slider.short_description.en" ng-disabled="!isEditable" required="" name="descriptionEN"></textarea>
                                <label class="help-block required" for="descriptionEN" ng-show="sliderForm.descriptionEN.$invalid 
                                && formInvalid">Description is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="French">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="notesFR">Trip Notes<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" ng-model="slider.trip_notes.fr" ng-disabled="!isEditable" required="" name="notesFR"></textarea>
                                <label class="help-block required" for="notesFR" ng-show="sliderForm.notesFR.$invalid 
                                && formInvalid">Notes is Required</label>
                            </div> 
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descriptionFR">Description<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" ng-model="slider.short_description.fr" ng-disabled="!isEditable" required="" name="descriptionFR"></textarea>
                                <label class="help-block required" for="descriptionFR" ng-show="sliderForm.descriptionFR.$invalid 
                                && formInvalid">Description is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Spanich">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="notesSP">Trip Notes<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" ng-model="slider.trip_notes.sp" ng-disabled="!isEditable" required="" name="notesSP"></textarea>
                                <label class="help-block required" for="notesSP" ng-show="sliderForm.notesSP.$invalid 
                                && formInvalid">Notes is Required</label>
                            </div> 
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descriptionSP">Description<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="4" ng-model="slider.short_description.sp" ng-disabled="!isEditable" required="" name="descriptionSP"></textarea>
                                <label class="help-block required" for="descriptionSP" ng-show="sliderForm.descriptionSP.$invalid 
                                && formInvalid">Description is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="modal-footer">
                <button id="add-app" type="submit" class="btn btn-complete  btn-cons" ng-click="ok()" ng-disabled="saving || !isEditable"> Save</button>
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>