<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>Tours Language</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="toursLanguageForm" role="form" ng-submit="ok()" novalidate>
            <div class="row" ng-show="error" id="error">
                <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                    {{err}}
                </div>
            </div>
            <div class="page-spinner-bar" ng-show="saving || dataLoading">
                <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
            </div>   
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="English">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameEN">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameEN" ng-model="toursLanguage.name.en" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameEN" ng-show="toursLanguageForm.nameEN.$invalid 
                                && formInvalid">Name is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="French">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameFR">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameFR" ng-model="toursLanguage.name.fr" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameFR" ng-show="toursLanguageForm.nameFR.$invalid 
                                && formInvalid">Name is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Spanich">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameSP">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameSP" ng-model="toursLanguage.name.sp" required="" ng-disabled="!isEditable">
                                <label class="help-block required" for="nameSP" ng-show="toursLanguageForm.nameSP.$invalid 
                                && formInvalid">Name is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="modal-footer">
                <button id="add-app" type="submit" class="btn btn-complete  btn-cons" ng-click="ok()" ng-disabled="saving || !isEditable"> Save</button>
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>