<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>Home Tab</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="tabsForm" role="form" ng-submit="ok()" novalidate>
            <div class="row" ng-show="error" id="error">
                <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                    {{err}}
                </div>
            </div>
            <div class="page-spinner-bar" ng-show="saving || dataLoading">
                <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
            </div>    
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="English">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameEN">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameEN" ng-model="tab.tab_name" required="" ng-disabled="true">
                            </div> 
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descriptionEN">Description<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="6" ng-model="tab.description.en" ng-disabled="!isEditable" required="" name="descriptionEN"></textarea>
                                <label class="help-block required" for="descriptionEN" ng-show="tabsForm.descriptionEN.$invalid 
                                && formInvalid">Description is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="French">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameFR">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameFR" ng-model="tab.tab_name" required="" ng-disabled="true">
                            </div> 
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descriptionFR">Description<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="6" ng-model="tab.description.fr" ng-disabled="!isEditable" required="" name="descriptionFR"></textarea>
                                <label class="help-block required" for="descriptionFR" ng-show="tabsForm.descriptionFR.$invalid 
                                && formInvalid">Description is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Spanich">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nameSP">Name<span class="required"> * </span></label>
                                <input type="text" class="form-control" name="nameSP" ng-model="tab.tab_name" required="" ng-disabled="true">
                            </div> 
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descriptionSP">Description<span class="required"> * </span></label>
                                <textarea class="form-control" cols="50" rows="6" ng-model="tab.description.sp" ng-disabled="!isEditable" required="" name="descriptionSP"></textarea>
                                <label class="help-block required" for="descriptionSP" ng-show="tabsForm.descriptionSP.$invalid 
                                && formInvalid">Description is Required</label>
                            </div> 
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="modal-footer">
                <button id="add-app" type="submit" class="btn btn-complete  btn-cons" ng-click="ok()" ng-disabled="saving || !isEditable"> Save</button>
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>