<div class="modal-content">
    <div class="modal-header clearfix ">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5">
            <span>Trip Reservation</span>
        </h4>
    </div>
    <div class="modal-body">
        <form name="tripReservationsForm" role="form" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nameEN">Baby Chair</label>
                        <input type="text" class="form-control" name="nameEN" ng-model="tripReservation.baby_chair" required="" ng-disabled="true">
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" name="phone" ng-model="tripReservation.phone" required="" ng-disabled="true">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <input type="text" class="form-control" name="nationality" ng-model="tripReservation.nationality" required="" ng-disabled="true">
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="tour_language">Tour Language</label>
                        <input type="text" class="form-control" name="tour_language" ng-model="tripReservation.tour_language" required="" ng-disabled="true">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from">From</label>
                        <input type="text" class="form-control" name="from" ng-model="tripReservation.from" required="" ng-disabled="true">
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="accommodation">Accommodation</label>
                        <input type="text" class="form-control" name="accommodation" ng-model="tripReservation.accommodation" required="" ng-disabled="true">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="number_of_adults">Number of adults</label>
                        <input type="text" class="form-control" name="number_of_adults" ng-model="tripReservation.number_of_adults" required="" ng-disabled="true">
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="number_of_childs_2_6">Number of childs 2 6</label>
                        <input type="text" class="form-control" name="number_of_childs_2_6" ng-model="tripReservation.number_of_childs_2_6" required="" ng-disabled="true">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="number_of_childs_6_12">Number of childs 6 12</label>
                        <input type="text" class="form-control" name="number_of_childs_6_12" ng-model="tripReservation.number_of_childs_6_12" required="" ng-disabled="true">
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="childs">Childs</label>
                        <input type="text" class="form-control" name="childs" ng-model="tripReservation.childs" required="" ng-disabled="true">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="flight_number">Flight number</label>
                        <input class="form-control" type="text"  name="flight_number" ng-model="tripReservation.flight_number" ng-disabled="true">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="airline">airline</label>
                        <input class="form-control" type="text" name="airline"  ng-model="tripReservation.airline" ng-disabled="true">
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" cols="50" rows="6" ng-model="tripReservation.description" ng-disabled="true" required="" name="description"></textarea>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" data-dismiss="modal" class="btn btn-danger">
                    close
                </button>
            </div>
        </form>
    </div>
</div>