<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-plane font-dark"></i>
                    <span class="caption-subject bold uppercase">
                        <span ng-if="newTrip" data-ng-bind="$state.current.data.pageTitle"></span>
                        <span ng-if="!newTrip">View/Edit Trip</span>
                    </span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button ng-click="back()" class="btn btn-info">
                                    <i class="fa fa-arrow-circle-left"> </i> Back </button>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="tripForm" role="form" ng-submit="ok()" novalidate>
                    <div class="row" ng-show="error" id="error">
                        <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                            {{err}}
                        </div>
                    </div>
                    <div class="page-spinner-bar" ng-show="saving || dataLoading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div ng-if="isEditable">
                                    <div class="margin-10">
                                        <button ngf-select ng-model="picFile" accept="image/*" class="btn btn-info"> Select Picture </button>
                                        <button type="button" ng-if="uploadTripImg" class="btn btn-success" ng-click="upload(croppedDataUrl, 'trip')">Save Picture</button>
                                    </div>
                                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                        <ui-cropper image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl = ''" area-type="rectangle"
                                            result-image-size="'max'" on-change="resetSaveButton('trip')"></ui-cropper>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!isEditable">
                                    <img ng-src="{{trip.image}}" ng-if="trip.image" style="width: 300px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="isEditable">
                            <div class="form-group">
                                <img ng-src="{{trip.image}}" ng-if="trip.image" style="width: 300px;margin-top: 70px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Featured</label>
                        <md-checkbox ng-model="trip.featured" ng-disabled="!isEditable" ng-true-value=1 ng-false-value=0> </md-checkbox>
                    </div>
                    <div class="form-group">
                        <label>Has Accommodation</label>
                        <md-checkbox ng-model="trip.has_accommodation" ng-disabled="!isEditable" ng-true-value=1 ng-false-value=0 ng-change="hasAccommodation(trip.has_accommodation)">
                        </md-checkbox>
                    </div>
                    <div class="form-group">
                        <label>Hidden</label>
                        <md-checkbox ng-model="trip.hide" ng-disabled="!isEditable" ng-true-value=1 ng-false-value=0>
                        </md-checkbox>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Country
                                    <span class="required"> * </span>
                                </label>
                                <select chosen="" class="form-control" data-placeholder="Choose Country" id="country" name="country" ng-model="trip.country_id"
                                    required ng-options="country.id as country.name.en for country in countriesList" options="countriesList"
                                    ng-change="listCitiesByCountryID(trip.country_id)" ng-disabled="!isEditable">
                                </select>
                                <label class="help-block required" for="country" ng-show="tripForm.country.$invalid 
                                && formInvalid">Country is Required</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City
                                    <span class="required"> * </span>
                                </label>
                                <select chosen="" class="form-control" data-placeholder="Choose City" id="city" name="city" ng-model="trip.city_id" required
                                    ng-options="city.id as city.name.en for city in citiesList" options="citiesList" ng-disabled="!isEditable">
                                </select>
                                <label class="help-block required" for="city" ng-show="tripForm.city.$invalid 
                                && formInvalid">City is Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="category">Categories</label>
                                <ui-select multiple ng-model="trip.categories" theme="bootstrap" sortable="true" close-on-select="false" ng-required="true"
                                    ng-disabled="!isEditable">
                                    <ui-select-match placeholder="Select Category ...">{{$item.name.en}}</ui-select-match>
                                    <ui-select-choices repeat="category in categoriesList | filter: $select.search">
                                        <div ng-bind-html="category.name.en  | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="help-block required" ng-show="!trip.categories
                                && formInvalid">Categories is Required</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tag">Tags</label>
                                <ui-select multiple ng-model="trip.tags" theme="bootstrap" sortable="true" close-on-select="false" ng-required="true" ng-disabled="!isEditable">
                                    <ui-select-match placeholder="Select Tags ...">{{$item.name.en}}</ui-select-match>
                                    <ui-select-choices repeat="tag in tagsList | filter: $select.search track by tag.id">
                                        <div ng-bind-html="tag.name.en  | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="help-block required" ng-show="!trip.categories
                                && formInvalid">Tags is Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="trip">Related Trips</label>
                                <ui-select multiple ng-model="trip.related" theme="bootstrap" sortable="true" close-on-select="false" ng-disabled="!isEditable">
                                    <ui-select-match placeholder="Select trips ...">{{$item.title.en}}</ui-select-match>
                                    <ui-select-choices repeat="trip in tripsList | filter: $select.search track by trip.id">
                                        <div ng-bind-html="trip.title.en  | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lowestprice">Lowest Price
                                    <span class="required"> * </span>
                                </label>
                                <input type="number" step="0.01" id="lowestprice" name="lowestprice" ng-model="trip.lowest_price" class="form-control input-sm"
                                    required ng-disabled="!isEditable">
                                <label class="help-block required" for="lowestprice" ng-show="tripForm.lowestprice.$invalid 
                                && formInvalid">Lowest Price is Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="triptype">Type</label>
                                <ui-select ng-model="trip.type" theme="bootstrap" sortable="true">
                                    <ui-select-match>
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="type.id as type in tripsTypes | filter: $select.search ">
                                        <div ng-bind-html="type.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="help-block required" for="triptype" ng-show="tripForm.type.$invalid 
                                && formInvalid">Type is Required</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="order">Order</label>
                                <input type="number" id="order" name="order" min="1" ng-model="trip.order" class="form-control input-sm" ng-disabled="!isEditable">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="(trip.type == 'trip' || trip.type == 'accommodation')">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="towToSix">Price For Child 2-6</label>
                                <input type="number" id="towToSix" name="towToSix" step="0.01" min="0" ng-model="trip.childs_2_6" class="form-control input-sm"
                                    ng-disabled="!isEditable">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sixToTwelve">Price For Child 6-12</label>
                                <input type="number" id="sixToTwelve" name="sixToTwelve" step="0.01" min="0" ng-model="trip.childs_6_12" class="form-control input-sm"
                                    ng-disabled="!isEditable">
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Itineraries">Number of Itineraries</label>
                                <input type="number" id="Itineraries" name="Itineraries" min="0" ng-model="trip.number_of_itineraries" class="form-control input-sm"
                                    ng-disabled="!isEditable">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pickup_time">Pickup Time
                                    <span class="required"> * </span>
                                </label>
                                <input id="pickup_time" name="pickup_time" uib-timepicker hour-step="1" minute-step="1" show-meridian="ismeridian" ng-model="pickup_time"
                                    required="" readonly-input="true">
                                <label class="help-block required" ng-show=" tripForm.pickup_time.$invalid 
                                && formInvalid">Pickup Time is required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="trip.has_accommodation">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-title" for="hotels">Hotels</label>
                                <button type="button" class="btn btn-info btn-xs" ng-click="addNewHotel()" ng-hide="!isEditable">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <fieldset data-ng-repeat="hotelObj in trip.hotels track by $index">
                                    <div class="row">
                                        <div class="col-xs-6" style="margin-top: 1em;">
                                            <label for="hotel">Hotel
                                                <span class="required"> * </span>
                                            </label>
                                            <input type="text" id="hotel" name="hotel" ng-model="trip.hotels[$index]" placeholder="At least 2 digits" uib-typeahead="hotel as hotel.name.en for hotel in searchHotels($viewValue)"
                                                typeahead-loading="loadingLocations" typeahead-no-results="noHotels" class="form-control input-sm async"
                                                typeahead-min-length="2" typeahead-wait-ms="500" typeahead-on-select="selectHotel($item, $model, $label, $event)"
                                                required="" autocomplete="off" ng-disabled="!isEditable">
                                            <div ng-show="noHotels">
                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                <a ng-click="openHotelModal()" class="btn-sm sbold green"> New Hotel
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                            <label class="help-block required" for="hotel" ng-show="!trip.hotels[$index].id
                                            && formInvalid">Hotel is Required</label>
                                        </div>
                                        <div class="col-xs-2" style="margin-top: 2.8em;">
                                            <button type="button" class="btn btn-info btn-xs" ng-click="removeHotel($index)" ng-hide="!isEditable">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 15px;" ng-if="hotelObj.id">
                                        <label class="label-title" for="room">Room Type
                                            <span class="required"> * </span>
                                        </label>
                                        <button type="button" class="btn btn-info btn-xs" ng-click="addNewRoom(hotelObj)" ng-hide="!isEditable">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <fieldset data-ng-repeat="roomObj in hotelObj.rooms track by $index">
                                            <div class="row">
                                                <div class="col-xs-3" style="margin-top: 1em;">
                                                    <label for="room">Room
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <input type="text" id="room" name="room" ng-model="trip.hotels[$parent.$index].rooms[$index]" placeholder="At least 2 digits"
                                                        uib-typeahead="room as room.type.en for room in searchRoomsByHotelID($viewValue, hotelObj.id)"
                                                        typeahead-loading="loadingLocations" typeahead-no-results="noRooms" class="form-control input-sm async"
                                                        typeahead-min-length="2" typeahead-wait-ms="500" typeahead-on-select="selectRooms($item, $model, $label, $event)"
                                                        required="" autocomplete="off" ng-disabled="!isEditable">
                                                    <div ng-show="noRooms">
                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        <a ng-click="openHotelModal(hotelObj)" class="btn-sm sbold green"> New Room Type
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                    <label class="help-block required" for="room" ng-show="!trip.hotels[$parent.$index].rooms[$index].id
                                                    && formInvalid">Room is Required</label>
                                                </div>
                                                <div class="col-xs-3" style="margin-top: 1em;">
                                                    <label for="price">Price
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <input type="number" step="0.01" id="price" name="price" ng-model="trip.hotels[$parent.$index].rooms[$index].price" class="form-control input-sm"
                                                        required="" ng-disabled="!isEditable">
                                                    <label class="help-block required" for="price" ng-show="!trip.hotels[$parent.$index].rooms[$index].price
                                                    && formInvalid">Price is Required</label>
                                                </div>
                                                <div class="col-xs-3" style="margin-top: 1em;">
                                                    <label for="count">Count
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <input type="number" step="0.01" id="count" name="count" ng-model="trip.hotels[$parent.$index].rooms[$index].count" class="form-control input-sm"
                                                        required="" ng-disabled="!isEditable">
                                                    <label class="help-block required" for="count" ng-show="!trip.hotels[$parent.$index].rooms[$index].count
                                                    && formInvalid">Count is Required</label>
                                                </div>
                                                <div class="col-xs-3" style="margin-top: 2.8em;">
                                                    <button type="button" class="btn btn-info btn-xs" ng-click="removeRoom(hotelObj, $index)" ng-hide="!isEditable">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <hr>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!trip.has_accommodation">
                        <br>
                        <hr>
                    </div>

                    <!-- Dany -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-title" for="prices">Prices
                                    <span class="required"> * </span>
                                </label>
                                <button type="button" class="btn btn-info btn-xs" ng-click="addNewPrice()" ng-hide="!isEditable">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <fieldset data-ng-repeat="field in trip.prices track by $index">
                                    <div class="row">
                                        <div class="col-xs-3" style="margin-top: 1em;">
                                            <label for="priceSize">From
                                                <span class="required"> * </span>
                                            </label>
                                            <input type="number" class="form-control input-sm" id="priceSizeEN" name="priceSizeEN" ng-model="trip.prices[$index].from"
                                                required="" ng-disabled="!isEditable" min="{{ $index > 0 ? trip.prices[$index-1].to : 0 }}">
                                            <label class="help-block required" for="priceSize" ng-show="!trip.prices[$index].from
                                                    && formInvalid">From is Required</label>
                                        </div>
                                        <div class="col-xs-3" style="margin-top: 1em;">
                                            <label for="priceSize">To
                                                <span class="required"> * </span>
                                            </label>
                                            <input type="number" class="form-control input-sm" id="priceSizeEN" name="priceSizeEN" ng-model="trip.prices[$index].to"
                                                required="" ng-disabled="!isEditable" min="{{trip.prices[$index].from}}">
                                            <label class="help-block required" for="priceSize" ng-show="!trip.prices[$index].to
                                                    && formInvalid">To is Required</label>
                                        </div>
                                        <div class="col-xs-3" style="margin-top: 1em;">
                                            <label for="price">Price
                                                <span class="required"> * </span>
                                            </label>
                                            <input type="number" step="0.01" id="priceEN" name="priceEN" ng-model="trip.prices[$index].price" class="form-control input-sm"
                                                required="" ng-disabled="!isEditable">
                                            <label class="help-block required" for="price" ng-show="!trip.prices[$index].price
                                                    && formInvalid">Price is Required</label>
                                        </div>
                                        <div class="col-xs-2" style="margin-top: 2.8em;">
                                            <button type="button" class="btn btn-info btn-xs" ng-click="removePrice($index)" ng-hide="!isEditable">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <!-- Dany is out -->
                    <uib-tabset active="activeJustified" justified="true">
                        <uib-tab index="0" heading="English">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nameEN">Title
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="nameEN" ng-model="trip.title.en" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="nameEN" ng-show="tripForm.nameEN.$invalid 
                                        && formInvalid">Title is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="typeEN">Tour Type
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="typeEN" ng-model="trip.tour_type.en" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="typeEN" ng-show="tripForm.typeEN.$invalid 
                                        && formInvalid">Tour Type is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="runEN">Run
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="runEN" ng-model="trip.run.en" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="runEN" ng-show="tripForm.runEN.$invalid 
                                        && formInvalid">Run is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="durationEN">Duration
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="durationEN" ng-model="trip.duration.en" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="durationEN" ng-show="tripForm.durationEN.$invalid 
                                        && formInvalid">Duration is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="startPointEN">Start Point
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="startPointEN" ng-model="trip.start_point.en" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="startPointEN" ng-show="tripForm.startPointEN.$invalid 
                                        && formInvalid">Start Point is Required</label>
                                    </div>
                                </div>

                                <hr>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-title" for="program">Program
                                            <span class="required"> * </span>
                                        </label>
                                        <button type="button" class="btn btn-info btn-xs" ng-click="addNewProgram()" ng-hide="!isEditable">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <fieldset data-ng-repeat="field in trip.program.en track by $index">
                                            <div class="row">
                                                <div class="col-md-6" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="title">Title
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <input type="text" name="titleEN" ng-model="trip.program.en[$index].title" class="form-control input-sm" required="" ng-disabled="!isEditable">
                                                        <label class="help-block required" for="title" ng-show="!trip.program.en[$index].title
                                                        && formInvalid">Title is Required</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="description">Description
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <textarea class="form-control" cols="50" rows="4" ng-model="trip.program.en[$index].description" ng-disabled="!isEditable"
                                                            required="" name="descriptionEN"></textarea>
                                                        <label class="help-block required" for="description" ng-show="!trip.program.en[$index].description
                                                        && formInvalid">Description is Required</label>
                                                    </div>
                                                    <div style="margin-top: 1em;text-align: center;" ng-if="isEditable">
                                                        <img ng-src="{{trip.program.en[$index].image}}" ng-if="trip.program.en[$index].image" style="width: 220px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-5" style="margin-top: 2.5em;">
                                                    <div class="form-group">
                                                        <div ng-if="isEditable">
                                                            <div class="margin-10">
                                                                <button ngf-select ng-model="trip.program.en[$index].imgUrl" ng-init="trip.program.en[$index].imgUrl = ''" accept="image/*"
                                                                    class="btn btn-info"> Select Picture </button>
                                                                <button type="button" ng-if="uploadProgramENImg[$index]" class="btn btn-success" ng-click="upload(croppedProgramENUrl, 'programEN', $index)">Save Picture</button>
                                                            </div>
                                                            <div ngf-drop ng-model="trip.program.en[$index].imgUrl" ngf-pattern="image/*" class="cropArea">
                                                                <ui-cropper image="trip.program.en[$index].imgUrl | ngfDataUrl" result-image="croppedProgramENUrl" ng-init="croppedProgramENUrl = ''"
                                                                    area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('programEN', $index)"></ui-cropper>
                                                            </div>
                                                        </div>
                                                        <div ng-if="!isEditable">
                                                            <img ng-src="{{trip.program.en[$index].image}}" ng-if="trip.program.en[$index].image" style="width: 300px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1" style="margin-top: 2.5em;">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-info btn-xs" ng-click="removeProgram($index)" ng-hide="!isEditable">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Short Description
                                            <span class="required"> * </span>
                                        </label>
                                        <textarea class="form-control" cols="50" rows="4" ng-model="trip.short_description.en" ng-disabled="!isEditable" required=""
                                            name="shortDescriptionEN" maxlength="400"></textarea>
                                        <label class="help-block required" ng-show="tripForm.shortDescriptionEN.$invalid 
                                        && formInvalid">Short Description is Required</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="overviewEN">Overview
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="overviewEN" ng-model="trip.overview.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="overviewEN" ng-show="tripForm.overviewEN.$invalid 
                                        && formInvalid">Overview is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="includesEN">Includes
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="includesEN" ng-model="trip.include.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="includesEN" ng-show="tripForm.includesEN.$invalid 
                                        && formInvalid">Includes is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="excludesEN">Excludes
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="excludesEN" ng-model="trip.exclude.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="excludesEN" ng-show="tripForm.excludesEN.$invalid 
                                        && formInvalid">Excludes is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="cancellationPolicyEN">Cancellation Policy
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="cancellationPolicyEN" ng-model="trip.cancellation_policy.en" ta-disabled='!isEditable'
                                            required></div>
                                        <label class="help-block required" for="cancellationPolicyEN" ng-show="tripForm.cancellationPolicyEN.$invalid 
                                        && formInvalid">Cancellation Policy is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="childrenPolicyEN">Children Policy
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="childrenPolicyEN" ng-model="trip.children_policy.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="childrenPolicyEN" ng-show="tripForm.childrenPolicyEN.$invalid 
                                        && formInvalid">Children Policy is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="paymentEN">Payment
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="paymentEN" ng-model="trip.payment.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="paymentEN" ng-show="tripForm.paymentEN.$invalid 
                                        && formInvalid">Payment is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="tourVoucherEN">Tour Voucher
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="tourVoucherEN" ng-model="trip.tour_voucher.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="tourVoucherEN" ng-show="tripForm.tourVoucherEN.$invalid 
                                        && formInvalid">Tour Voucher is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12"  >
                                    <div class="form-group">
                                        <label for="pickOffEN">Pick Off
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="pickOffEN" ng-model="trip.pick_off.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="pickOffEN" ng-show="tripForm.pickOffEN.$invalid 
                                        && formInvalid">Pick Off is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12" ng-if="trip.type == 'transfer'">
                                    <div class="form-group">
                                        <label for="dropOffEN">Drop Off
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="dropOffEN" ng-model="trip.drop_off.en" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="dropOffEN" ng-show="tripForm.dropOffEN.$invalid 
                                        && formInvalid">Drop Off is Required</label>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="French">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nameFR">Title
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="nameFR" ng-model="trip.title.fr" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="nameFR" ng-show="tripForm.nameFR.$invalid 
                                        && formInvalid">Title is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="typeFR">Tour Type
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="typeFR" ng-model="trip.tour_type.fr" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="typeFR" ng-show="tripForm.typeFR.$invalid 
                                        && formInvalid">Tour Type is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="runFR">Run
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="runFR" ng-model="trip.run.fr" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="runFR" ng-show="tripForm.runFR.$invalid 
                                        && formInvalid">Run is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="durationFR">Duration
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="durationFR" ng-model="trip.duration.fr" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="durationFR" ng-show="tripForm.durationFR.$invalid 
                                        && formInvalid">Duration is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="startPointFR">Start Point
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="startPointFR" ng-model="trip.start_point.fr" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="startPointFR" ng-show="tripForm.startPointFR.$invalid 
                                        && formInvalid">Start Point is Required</label>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-title" for="program">Program
                                            <span class="required"> * </span>
                                        </label>
                                        <button type="button" class="btn btn-info btn-xs" ng-click="addNewProgram()" ng-hide="!isEditable">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <fieldset data-ng-repeat="field in trip.program.fr track by $index">
                                            <div class="row">
                                                <div class="col-md-6" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="title">Title
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <input type="text" name="titleFR" ng-model="trip.program.fr[$index].title" class="form-control input-sm" required="" ng-disabled="!isEditable">
                                                        <label class="help-block required" for="title" ng-show="!trip.program.fr[$index].title
                                                        && formInvalid">Title is Required</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="description">Description
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <textarea class="form-control" cols="50" rows="4" ng-model="trip.program.fr[$index].description" ng-disabled="!isEditable"
                                                            required="" name="descriptionFR"></textarea>
                                                        <label class="help-block required" for="description" ng-show="!trip.program.fr[$index].description
                                                        && formInvalid">Description is Required</label>
                                                    </div>
                                                    <div style="margin-top: 1em;text-align: center;" ng-if="isEditable">
                                                        <img ng-src="{{trip.program.fr[$index].image}}" ng-if="trip.program.fr[$index].image" style="width: 220px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-5" style="margin-top: 2.5em;">
                                                    <div class="form-group">
                                                        <div ng-if="isEditable">
                                                            <div class="margin-10">
                                                                <button ngf-select ng-model="trip.program.fr[$index].imgUrl" ng-init="trip.program.fr[$index].imgUrl = ''" accept="image/*"
                                                                    class="btn btn-info"> Select Picture </button>
                                                                <button type="button" ng-if="uploadProgramFRImg[$index]" class="btn btn-success" ng-click="upload(croppedProgramFRUrl, 'programFR', $index)">Save Picture</button>
                                                            </div>
                                                            <div ngf-drop ng-model="trip.program.fr[$index].imgUrl" ngf-pattern="image/*" class="cropArea">
                                                                <ui-cropper image="trip.program.fr[$index].imgUrl | ngfDataUrl" result-image="croppedProgramFRUrl" ng-init="croppedProgramFRUrl = ''"
                                                                    area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('programFR', $index)"></ui-cropper>
                                                            </div>
                                                        </div>
                                                        <div ng-if="!isEditable">
                                                            <img ng-src="{{trip.program.fr[$index].image}}" ng-if="trip.program.fr[$index].image" style="width: 300px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1" style="margin-top: 2.5em;">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-info btn-xs" ng-click="removeProgram($index)" ng-hide="!isEditable">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Short Description
                                            <span class="required"> * </span>
                                        </label>
                                        <textarea class="form-control" cols="50" rows="4" ng-model="trip.short_description.fr" ng-disabled="!isEditable" required=""
                                            name="shortDescriptionFR" maxlength="400"></textarea>
                                        <label class="help-block required" ng-show="tripForm.shortDescriptionFR.$invalid 
                                        && formInvalid">Short Description is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="overviewFR">Overview
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="overviewFR" ng-model="trip.overview.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="overviewFR" ng-show="tripForm.overviewFR.$invalid 
                                        && formInvalid">Overview is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="includesFR">Includes
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="includesFR" ng-model="trip.include.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="includesFR" ng-show="tripForm.includesFR.$invalid 
                                        && formInvalid">Includes is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="excludesFR">Excludes
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="excludesFR" ng-model="trip.exclude.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="excludesFR" ng-show="tripForm.excludesFR.$invalid 
                                        && formInvalid">Excludes is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="cancellationPolicyFR">Cancellation Policy
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="cancellationPolicyFR" ng-model="trip.cancellation_policy.fr" ta-disabled='!isEditable'
                                            required></div>
                                        <label class="help-block required" for="cancellationPolicyFR" ng-show="tripForm.cancellationPolicyFR.$invalid 
                                        && formInvalid">Cancellation Policy is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="childrenPolicyFR">Children Policy
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="childrenPolicyFR" ng-model="trip.children_policy.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="childrenPolicyFR" ng-show="tripForm.childrenPolicyFR.$invalid 
                                        && formInvalid">Children Policy is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="paymentFR">Payment
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="paymentFR" ng-model="trip.payment.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="paymentFR" ng-show="tripForm.paymentFR.$invalid 
                                        && formInvalid">Payment is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="tourVoucherFR">Tour Voucher
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="tourVoucherFR" ng-model="trip.tour_voucher.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="tourVoucherFR" ng-show="tripForm.tourVoucherFR.$invalid 
                                        && formInvalid">Tour Voucher is Required</label>
                                    </div>
                                </div>

                                <div class="col-sm-12"  >
                                    <div class="form-group">
                                        <label for="pickOffFR">Pick Off
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="pickOffFR" ng-model="trip.pick_off.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="pickOffFR" ng-show="tripForm.pickOffFR.$invalid 
                                        && formInvalid">Pick Off is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12" ng-if="trip.type == 'transfer'">
                                    <div class="form-group">
                                        <label for="dropOffFR">Drop Off
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="dropOffFR" ng-model="trip.drop_off.fr" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="dropOffFR" ng-show="tripForm.dropOffFR.$invalid 
                                        && formInvalid">Drop Off is Required</label>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" heading="Spanich">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nameSP">Title
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="nameSP" ng-model="trip.title.sp" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="nameSP" ng-show="tripForm.nameSP.$invalid 
                                        && formInvalid">Title is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="typeSP">Tour Type
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="typeSP" ng-model="trip.tour_type.sp" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="typeSP" ng-show="tripForm.typeSP.$invalid 
                                        && formInvalid">Tour Type is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="runSP">Run
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="runSP" ng-model="trip.run.sp" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="runSP" ng-show="tripForm.runSP.$invalid 
                                        && formInvalid">Run is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="durationSP">Duration
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="durationSP" ng-model="trip.duration.sp" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="durationSP" ng-show="tripForm.durationSP.$invalid 
                                        && formInvalid">Duration is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="startPointSP">Start Point
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" name="startPointSP" ng-model="trip.start_point.sp" required="" ng-disabled="!isEditable">
                                        <label class="help-block required" for="startPointSP" ng-show="tripForm.startPointSP.$invalid 
                                        && formInvalid">Start Point is Required</label>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-title" for="program">Program
                                            <span class="required"> * </span>
                                        </label>
                                        <button type="button" class="btn btn-info btn-xs" ng-click="addNewProgram()" ng-hide="!isEditable">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <fieldset data-ng-repeat="field in trip.program.sp track by $index">
                                            <div class="row">
                                                <div class="col-md-6" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="title">Title
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <input type="text" name="titleSP" ng-model="trip.program.sp[$index].title" class="form-control input-sm" required="" ng-disabled="!isEditable">
                                                        <label class="help-block required" for="title" ng-show="!trip.program.sp[$index].title
                                                        && formInvalid">Title is Required</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="description">Description
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <textarea class="form-control" cols="50" rows="4" ng-model="trip.program.sp[$index].description" ng-disabled="!isEditable"
                                                            required="" name="descriptionSP"></textarea>
                                                        <label class="help-block required" for="description" ng-show="!trip.program.sp[$index].description
                                                        && formInvalid">Description is Required</label>
                                                    </div>
                                                    <div style="margin-top: 1em;text-align: center;" ng-if="isEditable">
                                                        <img ng-src="{{trip.program.sp[$index].image}}" ng-if="trip.program.sp[$index].image" style="width: 220px;">
                                                    </div>
                                                </div>
                                                <div class="col-md-5" style="margin-top: 2.5em;">
                                                    <div class="form-group">
                                                        <div ng-if="isEditable">
                                                            <div class="margin-10">
                                                                <button ngf-select ng-model="trip.program.sp[$index].imgUrl" ng-init="trip.program.sp[$index].imgUrl = ''" accept="image/*"
                                                                    class="btn btn-info"> Select Picture </button>
                                                                <button type="button" ng-if="uploadProgramSPImg[$index]" class="btn btn-success" ng-click="upload(croppedProgramSPUrl, 'programSP', $index)">Save Picture</button>
                                                            </div>
                                                            <div ngf-drop ng-model="trip.program.sp[$index].imgUrl" ngf-pattern="image/*" class="cropArea">
                                                                <ui-cropper image="trip.program.sp[$index].imgUrl | ngfDataUrl" result-image="croppedProgramSPUrl" ng-init="croppedProgramSPUrl = ''"
                                                                    area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('programSP', $index)"></ui-cropper>
                                                            </div>
                                                        </div>
                                                        <div ng-if="!isEditable">
                                                            <img ng-src="{{trip.program.sp[$index].image}}" ng-if="trip.program.sp[$index].image" style="width: 300px;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1" style="margin-top: 2.5em;">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-info btn-xs" ng-click="removeProgram($index)" ng-hide="!isEditable">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Short Description
                                            <span class="required"> * </span>
                                        </label>
                                        <textarea class="form-control" cols="50" rows="4" ng-model="trip.short_description.sp" ng-disabled="!isEditable" required=""
                                            name="shortDescriptionSP" maxlength="400"></textarea>
                                        <label class="help-block required" ng-show="tripForm.shortDescriptionSP.$invalid 
                                        && formInvalid">Short Description is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="overviewSP">Overview
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="overviewSP" ng-model="trip.overview.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="overviewSP" ng-show="tripForm.overviewSP.$invalid 
                                        && formInvalid">Overview is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="includesSP">Includes
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="includesSP" ng-model="trip.include.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="includesSP" ng-show="tripForm.includesSP.$invalid 
                                        && formInvalid">Includes is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="excludesSP">Excludes
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="excludesSP" ng-model="trip.exclude.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="excludesSP" ng-show="tripForm.excludesSP.$invalid 
                                        && formInvalid">Excludes is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="cancellationPolicySP">Cancellation Policy
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="cancellationPolicySP" ng-model="trip.cancellation_policy.sp" ta-disabled='!isEditable'
                                            required></div>
                                        <label class="help-block required" for="cancellationPolicySP" ng-show="tripForm.cancellationPolicySP.$invalid 
                                        && formInvalid">Cancellation Policy is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="childrenPolicySP">Children Policy
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="childrenPolicySP" ng-model="trip.children_policy.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="childrenPolicySP" ng-show="tripForm.childrenPolicySP.$invalid 
                                        && formInvalid">Children Policy is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="paymentSP">Payment
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="paymentSP" ng-model="trip.payment.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="paymentSP" ng-show="tripForm.paymentSP.$invalid 
                                        && formInvalid">Payment is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="tourVoucherSP">Tour Voucher
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="tourVoucherSP" ng-model="trip.tour_voucher.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="tourVoucherSP" ng-show="tripForm.tourVoucherSP.$invalid 
                                        && formInvalid">Tour Voucher is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12"  >
                                    <div class="form-group">
                                        <label for="pickOffSP">Pick Off
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="pickOffSP" ng-model="trip.pick_off.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="pickOffSP" ng-show="tripForm.pickOffSP.$invalid 
                                        && formInvalid">Pick Off is Required</label>
                                    </div>
                                </div>
                                <div class="col-sm-12" ng-if="trip.type == 'transfer'">
                                    <div class="form-group">
                                        <label for="dropOffSP">Drop Off
                                            <span class="required"> * </span>
                                        </label>
                                        <div text-angular="text-angular" name="dropOffSP" ng-model="trip.drop_off.sp" ta-disabled='!isEditable' required></div>
                                        <label class="help-block required" for="dropOffSP" ng-show="tripForm.dropOffSP.$invalid 
                                        && formInvalid">Drop Off is Required</label>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="modal-footer">
                        <button id="add-app" type="submit" class="btn btn-success" ng-click="ok()" ng-disabled="saving || !isEditable"> Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->