<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-tasks font-dark"></i>
                    <span class="caption-subject bold uppercase">
                        <span data-ng-bind="$state.current.data.pageTitle"></span>
                    </span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">
                <table st-table="tabsList" class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                            <th style="width: 5%">ID</th>
                            <th style="width: 20%">Tab Name</th>
                            <th style="width: 50%">Tab Description</th>
                            <th style="width: 25%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <h2 style= "text-align: center" ng-show = "tabsList.length == 0"> No data available</h2>
                        </tr>                    
                        <tr class="odd gradeX" ng-repeat="row in tabsList">
                            <td>{{row.id}}</td>
                            <td>{{row.tab_name}}</td>
                            <td>{{row.description.en | limitTo : 150 }}...</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-complete" ng-click="view(row, false)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-success" ng-click="view(row,true)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>                   
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    //TableDatatablesManaged.init();
    //    ComponentsBootstrapTagsinput.init();
</script>