<!-- BEGIN LOGO -->
<div class="logo">
    <a href>
        <img src="{{settings.layoutPath}}/img/logo.png" height="60" alt=""/> 
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <div class="row" ng-show="error" id="error">
        <uib-alert ng-repeat="err in error" type="danger">{{err}}</uib-alert>
    </div>
    <form class="login-form" ng-submit="login()" method="post" name="loginForm" novalidate>
        <h3 class="form-title">Login to your account</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter any username and password. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email"
                       name="email" ng-model="email" required="" /></div>
                <label class="help-block required" for="email" ng-show="loginForm.email.$invalid 
                && formInvalid">Email is Invalid</label>       
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"
                       name="password" ng-model="password" required="" minlength="6" /></div>
                <label class="help-block required" for="password" ng-show="loginForm.password.$invalid 
                && formInvalid">password is less than 6 characters</label>                       
        </div>
        <div class="form-actions" style="margin-bottom: 10px;">
            <button type="submit" class="btn green pull-right"> Login</button>
        </div>

    </form>

</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">© 2017-2018 Turquoise Holidays. All Rights Reserved.</div>
<!-- END COPYRIGHT -->
