<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"><span
                            data-ng-bind="$state.current.data.pageTitle"></span>
                    </span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">
                <div class="row">
 
                </div>
            <form id="addvisitForm" name="ProfileForm" role="form" ng-submit="add()" novalidate>
                <div class="row" ng-show="error" id="error">
                    <uib-alert ng-repeat="err in error" type="danger">{{err}}</uib-alert>
                </div>
            <fieldset>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">User name</label>
                            <input id="name" type="text" class="form-control"
                                   name="name"
                                   ng-model="user.name">
                        </div>
                        <div class="form-group ">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control"
                                   name="email"
                                   ng-model="user.email">
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input id="password" type="password" class="form-control"
                                   name="password"
                                   ng-model="user.password">
                        </div>
                        <div class="form-group">
                            <label for="repassword">confirm password</label>
                            <input id="repassword" type="password" class="form-control"
                                   name="repassword"
                                   ng-model="repassword">
                        </div>                        
                    </div>

                </div>
            </fieldset>
            <div class="form-group">
                <button id="add-app" type="submit"
                class="btn btn-complete  btn-cons"
                ng-click="add()"> Save
                </button>
            </div>
        </form>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->