<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-cog font-dark"></i>
                    <span class="caption-subject bold uppercase">
                        <span data-ng-bind="$state.current.data.pageTitle"></span>
                    </span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">
                <form name="settingForm" role="form" ng-submit="ok()" novalidate>
                    <div class="row" ng-show="error" id="error">
                        <div dir="auto" class="alert alert-danger" ng-repeat="err in error">
                            {{err}}
                        </div>
                    </div>
                    <div class="row" ng-show="success" id="success">
                        <div dir="auto" class="alert alert-success fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            Form is Submitted Successfuly
                        </div>
                    </div>
                    <div class="page-spinner-bar" ng-show="saving || dataLoading">
                        <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div  class="form-group">
                                <label class="label-title" for="data">Company Telephones<span class="required"> * </span></label>
                                <button type="button" class="btn btn-info btn-xs" ng-click="addNewPhone()" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <fieldset data-ng-repeat="field in setting.telephones.value track by $index">
                                    <div class="row">
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="phone">Telephone<span class="required"> * </span></label>
                                            <input type="text" name="phone" ng-model="setting.telephones.value[$index]" class="form-control input-sm" required="">
                                            <label class="help-block required" for="phone" ng-show="!setting.telephones.value[$index]
                                            && formInvalid">Telephone is Required</label> 
                                        </div>
                                        <div class="col-xs-2" style="margin-top: 2.8em;">
                                            <button type="button" class="btn btn-info btn-xs" ng-click="removePhone($index)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>  
                        </div>
                        <div class="col-md-12">
                            <div  class="form-group">
                                <label class="label-title" for="data">Primary E-mail<span class="required"> * </span></label>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <input type="email" name="primaryEmail" ng-model="setting.primary_email.value[0]" class="form-control input-sm" required="">
                                            <label class="help-block required" for="email" ng-show="!setting.primary_email.value[0]
                                            && formInvalid">Primary E-mail is Required</label> 
                                        </div>
                                    </div>
                                </fieldset>
                            </div>  
                        </div>
                        <div class="col-md-12">
                            <div  class="form-group">
                                <label class="label-title" for="data">Company Contact E-mails<span class="required"> * </span></label>
                                <button type="button" class="btn btn-info btn-xs" ng-click="addNewContactEmail()" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <fieldset data-ng-repeat="field in setting.contact_emails.value track by $index">
                                    <div class="row">
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="email">E-mail<span class="required"> * </span></label>
                                            <input type="email" name="email" ng-model="setting.contact_emails.value[$index]" class="form-control input-sm" required="">
                                            <label class="help-block required" for="email" ng-show="!setting.contact_emails.value[$index]
                                            && formInvalid">E-mail is Required</label> 
                                        </div>
                                        <div class="col-xs-2" style="margin-top: 2.8em;">
                                            <button type="button" class="btn btn-info btn-xs" ng-click="removeContactEmail($index)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>  
                        </div>
                        <div class="col-md-12">
                            <div  class="form-group">
                                <label class="label-title" for="data">Company Enquire E-mails<span class="required"> * </span></label>
                                <button type="button" class="btn btn-info btn-xs" ng-click="addNewEnquireEmail()" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <fieldset data-ng-repeat="field in setting.enquiry_emails.value track by $index">
                                    <div class="row">
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="email">E-mail<span class="required"> * </span></label>
                                            <input type="email" name="EnquireEmail" ng-model="setting.enquiry_emails.value[$index]" class="form-control input-sm" required="">
                                            <label class="help-block required" for="EnquireEmail" ng-show="!setting.enquiry_emails.value[$index]
                                            && formInvalid">E-mail is Required</label> 
                                        </div>
                                        <div class="col-xs-2" style="margin-top: 2.8em;">
                                            <button type="button" class="btn btn-info btn-xs" ng-click="removeEnquireEmail($index)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>  
                        </div>
                        <div class="col-md-12">
                            <div  class="form-group">
                                <label class="label-title" for="social">Social Links</label>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="fb">Facebook</label>
                                            <input type="text" name="fb" ng-model="setting.social_links.value.facebook" class="form-control input-sm">
                                        </div>
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="insta">Instagram</label>
                                            <input type="text" name="insta" ng-model="setting.social_links.value.instagram" class="form-control input-sm">
                                        </div>
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="tw">Twitter</label>
                                            <input type="text" name="tw" ng-model="setting.social_links.value.twitter" class="form-control input-sm">
                                        </div>
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="pn">Pinterest</label>
                                            <input type="text" name="pn" ng-model="setting.social_links.value.pinterest" class="form-control input-sm">
                                        </div>
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="g">Google Plus</label>
                                            <input type="text" name="g" ng-model="setting.social_links.value.google" class="form-control input-sm">
                                        </div>
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="tmb">Tumblr</label>
                                            <input type="text" name="tmb" ng-model="setting.social_links.value.tumblr" class="form-control input-sm">
                                        </div>
                                        <div class="col-xs-6" style="margin-top: 1em;"> 
                                            <label for="vm">Vimeo</label>
                                            <input type="text" name="vm" ng-model="setting.social_links.value.vimeo" class="form-control input-sm">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>  
                        </div>
                        <div class="col-md-12">
                            <div  class="form-group">
                                <label class="label-title" for="package">Packages</label>
                                <button type="button" class="btn btn-info btn-xs" ng-click="addNewPackageImage()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <fieldset data-ng-repeat="field in setting.package_page_images.value track by $index">
                                    <div class="row">
                                        <div class="col-md-5" style="margin-top: 2.5em;">
                                            <div class="form-group">
                                                <div>
                                                    <div class="margin-10" >
                                                        <button ngf-select ng-model="setting.package_page_images.value[$index].imgUrl" ng-init="setting.package_page_images.value[$index].imgUrl = ''" accept="image/*" class="btn btn-info"> Select Picture </button>
                                                        <button type="button" ng-if="uploadPackageImg[$index]"  class="btn btn-success" ng-click="upload(croppedPackageUrl, 'package', $index)">Save Picture</button>
                                                    </div>
                                                    <div ngf-drop ng-model="setting.package_page_images.value[$index].imgUrl" ngf-pattern="image/*" class="cropArea">
                                                        <ui-cropper image="setting.package_page_images.value[$index].imgUrl | ngfDataUrl" result-image="croppedPackageUrl" ng-init="croppedPackageUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('Packages',$index)"></ui-cropper>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="margin-top: 2.5em;">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-info btn-xs" ng-click="removePackageImage($index)">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-top: 2.5em;">
                                            <div class="form-group">
                                                <img ng-src="{{setting.package_page_images.value[$index].image}}" ng-if="setting.package_page_images.value[$index].image" style="width: 70%;margin-top: 45px;">   
                                            </div>
                                        </div> 
                                    </div> 
                                    <hr>
                                </fieldset>
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-title" for="FAQs">FAQs</label>
                                <div class="margin-10">
                                    <button ngf-select ng-model="setting.faqs_page.value.imgUrl" ng-init="setting.faqs_page.value.imgUrl = ''" accept="image/*" class="btn btn-info"> Select Picture </button>
                                    <button type="button" ng-if="uploadFAQsImg"  class="btn btn-success" ng-click="upload(croppedFAQsUrl, 'FAQs')">Save Picture</button>
                                </div>
                                <div ngf-drop ng-model="setting.faqs_page.value.imgUrl" ngf-pattern="image/*" class="cropArea">
                                    <ui-cropper image="setting.faqs_page.value.imgUrl | ngfDataUrl" result-image="croppedFAQsUrl" ng-init="croppedFAQsUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('FAQs')"></ui-cropper>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <img ng-src="{{setting.faqs_page.value.image}}" ng-if="setting.faqs_page.value.image" style="width: 400px;margin-top: 75px;">   
                            </div>
                        </div>        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-title" for="Privacy">Privacy</label>
                                <div class="margin-10">
                                    <button ngf-select ng-model="setting.privacy_page.value.imgUrl" ng-init="setting.privacy_page.value.imgUrl = ''" accept="image/*" class="btn btn-info"> Select Picture </button>
                                    <button type="button" ng-if="uploadPrivacyImg"  class="btn btn-success" ng-click="upload(croppedPrivacyUrl, 'Privacy')">Save Picture</button>
                                </div>
                                <div ngf-drop ng-model="setting.privacy_page.value.imgUrl" ngf-pattern="image/*" class="cropArea">
                                    <ui-cropper image="setting.privacy_page.value.imgUrl | ngfDataUrl" result-image="croppedPrivacyUrl" ng-init="croppedPrivacyUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('Privacy')"></ui-cropper>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <img ng-src="{{setting.privacy_page.value.image}}" ng-if="setting.privacy_page.value.image" style="width: 400px;margin-top: 75px;">   
                            </div>
                        </div>        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-title" for="Contact">Contact</label>
                                <div class="margin-10">
                                    <button ngf-select ng-model="setting.contact_page.value.imgUrl" ng-init="setting.contact_page.value.imgUrl = ''" accept="image/*" class="btn btn-info"> Select Picture </button>
                                    <button type="button" ng-if="uploadContactImg"  class="btn btn-success" ng-click="upload(croppedContactUrl, 'Contact')">Save Picture</button>
                                </div>
                                <div ngf-drop ng-model="setting.contact_page.value.imgUrl" ngf-pattern="image/*" class="cropArea">
                                    <ui-cropper image="setting.contact_page.value.imgUrl | ngfDataUrl" result-image="croppedContactUrl" ng-init="croppedContactUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('Contact')"></ui-cropper>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <img ng-src="{{setting.contact_page.value.image}}" ng-if="setting.contact_page.value.image" style="width: 400px;margin-top: 75px;">   
                            </div>
                        </div>        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-title" for="Terms">Terms</label>
                                <div class="margin-10">
                                    <button ngf-select ng-model="setting.terms_page.value.imgUrl" ng-init="setting.terms_page.value.imgUrl = ''" accept="image/*" class="btn btn-info"> Select Picture </button>
                                    <button type="button" ng-if="uploadTermsImg"  class="btn btn-success" ng-click="upload(croppedTermsUrl, 'Terms')">Save Picture</button>
                                </div>
                                <div ngf-drop ng-model="setting.terms_page.value.imgUrl" ngf-pattern="image/*" class="cropArea">
                                    <ui-cropper image="setting.terms_page.value.imgUrl | ngfDataUrl" result-image="croppedTermsUrl" ng-init="croppedTermsUrl = ''" area-type="rectangle" result-image-size="'max'" on-change="resetSaveButton('Terms')"></ui-cropper>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <img ng-src="{{setting.terms_page.value.image}}" ng-if="setting.terms_page.value.image" style="width: 400px;margin-top: 75px;">   
                            </div>
                        </div>        
                    </div>
                    <hr>
                    <uib-tabset active="activeJustified" justified="true">
                        <uib-tab index="0" heading="English">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-title" for="about">Company Information<span class="required"> * </span></label>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-6" style="margin-top: 1em;"> 
                                                    <label for="address">Address<span class="required"> * </span></label>
                                                    <input type="text" class="form-control" ng-model="setting.address.value.en" required="" name="addressEN">
                                                    <label class="help-block required" ng-show="settingForm.addressEN.$invalid 
                                                    && formInvalid">Address is Required</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6" style="margin-top: 1em;"> 
                                                    <label for="about-us">About Us<span class="required"> * </span></label>
                                                    <textarea class="form-control" cols="50" rows="4" ng-model="setting.about.value.en" required="" name="aboutEN"></textarea>
                                                    <label class="help-block required" ng-show="settingForm.aboutEN.$invalid 
                                                    && formInvalid">About Us Text is Required</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="FAQsEN">FAQs Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="FAQsEN" ng-model="setting.faqs_page.value.content.en"   required></div>
                                                        <label class="help-block required" for="FAQsEN" ng-show="tripForm.FAQsEN.$invalid 
                                                        && formInvalid">FAQs Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="PrivacyEN">Privacy Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="PrivacyEN" ng-model="setting.privacy_page.value.content.en"   required></div>
                                                        <label class="help-block required" for="PrivacyEN" ng-show="tripForm.PrivacyEN.$invalid 
                                                        && formInvalid">Privacy Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="ContactEN">Contact Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="ContactEN" ng-model="setting.contact_page.value.content.en"   required></div>
                                                        <label class="help-block required" for="ContactEN" ng-show="tripForm.ContactEN.$invalid 
                                                        && formInvalid">Contact Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="TermsEN">Terms Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="TermsEN" ng-model="setting.terms_page.value.content.en"   required></div>
                                                        <label class="help-block required" for="TermsEN" ng-show="tripForm.TermsEN.$invalid 
                                                        && formInvalid">Terms Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>  
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="French">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-title" for="about">Company Information<span class="required"> * </span></label>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-6" style="margin-top: 1em;"> 
                                                    <label for="address">Address<span class="required"> * </span></label>
                                                    <input type="text" class="form-control" ng-model="setting.address.value.fr" required="" name="addressFR">
                                                    <label class="help-block required" ng-show="settingForm.addressFR.$invalid 
                                                    && formInvalid">Address is Required</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6" style="margin-top: 1em;"> 
                                                    <label for="about-us">About Us<span class="required"> * </span></label>
                                                    <textarea class="form-control" cols="50" rows="4" ng-model="setting.about.value.fr" required="" name="aboutFR"></textarea>
                                                    <label class="help-block required" ng-show="settingForm.aboutFR.$invalid 
                                                    && formInvalid">About Us Text is Required</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="FAQsFR">FAQs Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="FAQsFR" ng-model="setting.faqs_page.value.content.fr"   required></div>
                                                        <label class="help-block required" for="FAQsFR" ng-show="tripForm.FAQsFR.$invalid 
                                                        && formInvalid">FAQs Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="PrivacyFR">Privacy Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="PrivacyFR" ng-model="setting.privacy_page.value.content.fr"   required></div>
                                                        <label class="help-block required" for="PrivacyFR" ng-show="tripForm.PrivacyFR.$invalid 
                                                        && formInvalid">Privacy Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="ContactFR">Contact Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="ContactFR" ng-model="setting.contact_page.value.content.fr" required></div>
                                                        <label class="help-block required" for="ContactFR" ng-show="tripForm.ContactFR.$invalid 
                                                        && formInvalid">Contact Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="TermsFR">Terms Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="TermsFR" ng-model="setting.terms_page.value.content.fr"   required></div>
                                                        <label class="help-block required" for="TermsFR" ng-show="tripForm.TermsFR.$invalid 
                                                        && formInvalid">Terms Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>  
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" heading="Spanich">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label-title" for="about">Company Information<span class="required"> * </span></label>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-6" style="margin-top: 1em;"> 
                                                    <label for="address">Address<span class="required"> * </span></label>
                                                    <input type="text" class="form-control" ng-model="setting.address.value.sp" required="" name="addressSP">
                                                    <label class="help-block required" ng-show="settingForm.addressSP.$invalid 
                                                    && formInvalid">Address is Required</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6" style="margin-top: 1em;"> 
                                                    <label for="about-us">About Us<span class="required"> * </span></label>
                                                    <textarea class="form-control" cols="50" rows="4" ng-model="setting.about.value.sp" required="" name="aboutSP"></textarea>
                                                    <label class="help-block required" ng-show="settingForm.aboutSP.$invalid 
                                                    && formInvalid">About Us Text is Required</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="FAQsSP">FAQs Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="FAQsSP" ng-model="setting.faqs_page.value.content.sp" required></div>
                                                        <label class="help-block required" for="FAQsSP" ng-show="tripForm.FAQsSP.$invalid 
                                                        && formInvalid">FAQs Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="PrivacySP">Privacy Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="PrivacySP" ng-model="setting.privacy_page.value.content.sp" required></div>
                                                        <label class="help-block required" for="PrivacySP" ng-show="tripForm.PrivacySP.$invalid 
                                                        && formInvalid">Privacy Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="ContactSP">Contact Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="ContactSP" ng-model="setting.contact_page.value.content.sp" required></div>
                                                        <label class="help-block required" for="ContactSP" ng-show="tripForm.ContactSP.$invalid 
                                                        && formInvalid">Contact Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="margin-top: 1em;">
                                                    <div class="form-group">
                                                        <label for="TermsSP">Terms Page Content<span class="required"> * </span></label>
                                                        <div text-angular="text-angular" name="TermsSP" ng-model="setting.terms_page.value.content.sp"   required></div>
                                                        <label class="help-block required" for="TermsSP" ng-show="tripForm.TermsSP.$invalid 
                                                        && formInvalid">Terms Content is Required</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>  
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="modal-footer">
                        <button id="add-app" type="submit" class="btn btn-success" ng-click="ok()" ng-disabled="saving"> Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
