<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-language font-dark"></i>
                    <span class="caption-subject bold uppercase">
                        <span data-ng-bind="$state.current.data.pageTitle"></span>
                    </span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" ng-click="openToursLanguageModal()" class="btn sbold green"> New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 pull-right">
                            <form>
                                <label>
                                    <input  class="form-control input-sm" ng-model="searchText" placeholder="Search" type="text"/>
                                </label>
                                <input class="btn sbold green" ng-click="onSearchButtonClicked(items,page)" type="submit" value="Search"/>
                            </form>
                        </div>                         
                    </div>
                </div>

                <table st-table="toursLanguagesList" class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                            <th style="width: 5%">ID</th>
                            <th>Name</th>
                            <th style="width: 25%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <h2 style= "text-align: center" ng-show = "toursLanguagesList.length == 0"> No data available</h2>
                        </tr>                    
                        <tr class="odd gradeX" ng-repeat="row in toursLanguagesList">
                            <td>{{row.id}}</td>
                            <td>{{row.name.en}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-complete" ng-click="view(row, false)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-success" ng-click="view(row,true)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="delete(row)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="">
                                <div>
                                    <nav ng-if="pagesCount >= 2">
                                        <ul class="pagination">
                                            <li>
                                                <a ng-if="page>1" ng-click="getDataWithPageNumber(items,1)" style="cursor:pointer">first</a>
                                                <a style="cursor:not-allowed" ng-if="page==1">first</a>
                                            </li>
                                            <li>
                                                <a ng-if="page>1" ng-click="getDataWithPageNumber(items,page-1)" style="cursor:pointer">
                                                    <i class="fa fa-chevron-left"></i>
                                                </a>
                                                <a style="cursor:not-allowed" ng-if="page==1" >
                                                    <i class="fa fa-chevron-left"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-if="page<pagesCount" ng-click="getDataWithPageNumber(items,page+1)" style="cursor:pointer">
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                                <a style="cursor:not-allowed" ng-if="page >= pagesCount">
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-if="page<pagesCount" ng-click="getDataWithPageNumber(items,pagesCount)">last</a>
                                                <a style="cursor:not-allowed" ng-if="page==pagesCount" >last</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </td>
                        </tr>
                    </tfoot>                    
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    //TableDatatablesManaged.init();
    //    ComponentsBootstrapTagsinput.init();
</script>