<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-ticket font-dark"></i>
                    <span class="caption-subject bold uppercase">
                        <span data-ng-bind="$state.current.data.pageTitle"></span>
                    </span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn btn-circle btn-transparent blue active" ng-click="filter('all')">
                                        <input type="radio" name="options" class="toggle" id="option1">All
                                    </label>
                                    <label class="btn btn-circle btn-transparent green" ng-click="filter('seen')">
                                        <input type="radio" name="options" class="toggle" id="option2">Seen
                                    </label>
                                    <label class="btn btn-circle btn-transparent red" ng-click="filter('unseen')">
                                        <input type="radio" name="options" class="toggle" id="option2">Un Seen
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pull-right">
                            <form >
                                <label>
                                    <input  class="form-control input-sm" ng-model="searchText" placeholder="Search" type="text"/>
                                </label>
                                <input class="btn sbold green" ng-click="onSearchButtonClicked(items,page)" type="submit" value="Search"/>
                            </form>
                        </div>                         
                    </div>
                </div>

                <table st-table="tripReservationsList" class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                            <th style="width: 5%">ID</th>
                            <th>Trip id</th>
                            <th>Trip name</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>State</th>
                            <th style="width: 35%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <h2 style= "text-align: center" ng-show = "tripReservationsList.length == 0"> No data available</h2>
                        </tr>                    
                        <tr class="odd gradeX" ng-repeat="row in tripReservationsList">
                            <td>{{row.id}}</td>
                            <td>{{row.trip.id}}</td>
                            <td>{{row.trip.title.en}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.price}}</td>
                            <td>{{row.state}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-complete" ng-click="view(row)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-info" title="seen" ng-click="seen(row)" ng-show="!row.seen">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" class="">
                                <div>
                                    <nav ng-if="pagesCount >= 2">
                                        <ul class="pagination">
                                            <li>
                                                <a ng-if="page>1" ng-click="getDataWithPageNumber(items,1)" style="cursor:pointer">first</a>
                                                <a style="cursor:not-allowed" ng-if="page==1">first</a>
                                            </li>
                                            <li>
                                                <a ng-if="page>1" ng-click="getDataWithPageNumber(items,page-1)" style="cursor:pointer">
                                                    <i class="fa fa-chevron-left"></i>
                                                </a>
                                                <a style="cursor:not-allowed" ng-if="page==1" >
                                                    <i class="fa fa-chevron-left"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-if="page<pagesCount" ng-click="getDataWithPageNumber(items,page+1)" style="cursor:pointer">
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                                <a style="cursor:not-allowed" ng-if="page >= pagesCount">
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-if="page<pagesCount" ng-click="getDataWithPageNumber(items,pagesCount)">last</a>
                                                <a style="cursor:not-allowed" ng-if="page==pagesCount" >last</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </td>
                        </tr>
                    </tfoot>                    
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    //TableDatatablesManaged.init();
    //    ComponentsBootstrapTagsinput.init();
</script>