.gray {
  background-color: #adadad;
}

.blue {
  background-color: #32c5d2;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 170px;
  text-align: center;
  padding: 50px 10px;
  margin-left: 10px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}
/* line 1, ../../source/scss/ng-img-crop.scss */
img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}
.margin-10 {
	margin-bottom: 10px;
}
.margin-top-10 {
	margin-top: 10px;
}
.center {
	text-align: center;
}
ui-cropper {
  width: 100%;
  display: block; 
}
ui-cropper.fixed-height {
  height: 100%;
  position: relative;
  overflow: hidden; 
}
ui-cropper.fixed-height canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%; 
}
ui-cropper.full-width {
  text-align: center;
}
ui-cropper.full-width canvas {
  display: inline; 
}
ui-cropper canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */ 
}
ui-cropper .loading {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.75); 
}
ui-cropper .loading .fixed-height {
  height: 100%;
  position: absolute;
}


.label-title {
  font-size: 16px;
  color: #659be0;
  font-weight: bold;
  margin-top: 5px;
}

.nav-tabs.nav-justified>li>a {
  font-size: 16px;
}