/* here you can put your own css to customize and override the theme */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding: 28px 10px 18px 10px;
}

.page-header.navbar .page-logo .logo-default {
  margin: 5px 10px 5px 70px;
}