<!-- BEGIN PAGE TITLE -->
<div class="page-title">
    <h1>
        <span data-ng-bind="$state.current.data.pageTitle"></span>
        <small data-ng-bind="$state.current.data.pageSubTitle"></small>
    </h1>
    <!-- BEGIN PAGE BREADCRUMB -->
    <!-- <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active" data-ng-bind="$state.current.data.pageTitle"></li>
    </ul> -->
    <!-- END PAGE BREADCRUMB -->
</div>
<!-- END PAGE TITLE -->
