<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
        ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
<!--         <li class="heading">
            <h3>General</h3>
        </li>
        <li class="start nav-item">
            <a href="#/dashboard">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li> -->

<!--         <li class="heading">
            <h3>Administrations</h3>
        </li>
        <li class="start nav-item">
            <a href="#/users">
                <i class="icon-user"></i>
                <span class="title">Users</span>
            </a>
        </li> -->
      
        <li class="heading">
            <h3>Lookups</h3>
        </li>  
        <li class="start nav-item">
            <a href="#/trips">
                <i class="fa fa-plane"> </i>
                <span class="title">Trips</span>
            </a>
        </li> 
        <li class="start nav-item">
            <a href="#/hotels">
                <i class="fa fa-star-o"> </i>
                <span class="title">Hotels</span>
            </a>
        </li>  
        <li class="start nav-item">
            <a href="#/rooms">
                <i class="fa fa-bed"> </i>
                <span class="title">Rooms</span>
            </a>
        </li> 
        <li class="start nav-item">
            <a href="#/categories">
                <i class="fa fa-puzzle-piece"> </i>
                <span class="title">Categories</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/tags">
                <i class="fa fa-tag"> </i>
                <span class="title">Tags</span>
            </a>
        </li>        
        <li class="start nav-item">
            <a href="#/countries">
                <i class="fa fa-building-o"> </i>
                <span class="title">Countries</span>
            </a>
        </li>         
        <li class="start nav-item">
            <a href="#/cities">
                <i class="fa fa-home"> </i>
                <span class="title">Cities</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/nationalities">
                <i class="fa fa-flag"> </i>
                <span class="title">Nationalities</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/tours-language">
                <i class="fa fa-language"> </i>
                <span class="title">Tours Language</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/partners">
                <i class="fa fa-handshake-o"> </i>
                <span class="title">Partners</span>
            </a>
        </li> 
        <li class="start nav-item">
            <a href="#/tabs">
                <i class="fa fa-tasks"> </i>
                <span class="title">Home-Tabs</span>
            </a>
        </li> 
        <li class="start nav-item">
            <a href="#/sliders">
                <i class="fa fa-photo"> </i>
                <span class="title">Sliders</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/faqs">
                <i class="fa fa-question-circle"> </i>
                <span class="title">FAQs</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/trip-reservations">
                <i class="fa fa-ticket"> </i>
                <span class="title">Trip Reservations</span>
            </a>
        </li> 
        <hr>
        <li class="start nav-item">
            <a href="#/settings">
                <i class="fa fa-cog"> </i>
                <span class="title">Settings</span>
            </a>
        </li> 
    </ul>
    <!-- END SIDEBAR MENU -->
</div>